///Clases para JavaScript///

.highlight {
	border: 5px solid purple;
	background-color: rgba(255, 158, 1, 0.296);
	border-radius: 5px;
	color: orange;
}

body {
	background-color: papayawhip;
}

.header {
	background: url(../../assets/images/smile.png) top right no-repeat;
	background-size: contain;
	&__title {
		text-align: center;
	}
	// &__form {
	// 	margin-bottom: 10px;
	// }
}

.main {
	display: flex;
	justify-content: space-around;
	border: 3px solid orange;
	margin-top: 15px;
	&__favs {
		&--title {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
		&--btn {
			margin-left: 20px;
			height: 20px;
		}
	}

	&__results {
		display: flex;
		justify-content: space-around;

		&--list {
			display: flex;
		}

		&--listItem {
			width: 240px;
			height: 350px;
		}
	}
}
