///Clases para JavaScript///@at-root

.highlight {
	border: 5px solid orange;
	background-color: papayawhip;
	border-radius: 5px;
	color: orange;
}

.main {
	display: flex;
	align-items: flex-start;
	justify-content: space-around;

	&__favTitle {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&--btn {
			margin-left: 20px;
			height: 20px;
		}
	}
}

.topAnimeList {
	display: flex;
	align-items: center;
	justify-content: space-around;

	&__item {
		&--image {
			border: 1px solid rebeccapurple;
		}

		&--text {
			text-align: center;
		}
	}
}

.header {
	height: 100px;

	&__title {
		text-align: center;
	}
}
